/* 共通 */
.profile{
    font-size:24px;
}

/* ユーザーアイコンのCSS */
.profile .user_icon{
    /* ファイル選択ボックスの基準にする */
    position:relative;
    /* 円形にする */
    width:300px;
    height:300px;
    border-radius:50%;
    background:skyblue;
    /* 中央寄せにする */
    margin-left:auto;
    margin-right:auto;
    /* 縦の配置を調整する */
    margin-top:2%;
}

/* ユーザーアイコンの画像のCSS */
.profile .user_icon img{
    /* 円形にする */
    width:300px;
    height:300px;
    border-radius:50%;
}

.profile .user_icon img:hover{
    /* 半透明にする */
    opacity:0.5;
    /* マウス形状を変更する */
    cursor:pointer;
}

.profile .user_icon input{
    /* ユーザーアイコンクラスからの相対位置を指定する */
    position:absolute;
    top:75px;
    left:75px;
    /* サイズ指定する */
    width:25%;
    /* 本来のボタンは非表示にする */
    display:none;
}

/* ユーザー名のCSS */
.profile .user_name{
    /* 最大幅を設定する */
    max-width:385px;
    /* 中央寄せにする */
    margin-left:auto;
    margin-right:auto;
    /* 縦の配置を調整する */
    margin-top:2%;
}

.profile .user_name img{
    /* マウス形状を変更する */
    cursor:pointer;
}

.profile .user_name img:hover{
    /* カーソルが置かれたときにグレーにする */
    background-color:lightgray;
}

/* ユーザー名テキストボックスのCSS */
.profile .user_name input{
    border-color:#F2F2F2;
    /* 下線以外は消す */
    border-top:none;
    border-left:none;
    border-right:none;
    /* クリック時の枠線を消す */
    outline:none;
    margin-left:auto;
    margin-right:auto;
}

/* パスワードのCSS */
.profile .password{
    /* 最大幅を設定する */
    max-width:385px;
    /* 中央寄せにする */
    margin-left:auto;
    margin-right:auto;
    /* 縦の配置を調整する */
    margin-top:2%;
}

.profile .password img{
    /* マウス形状を変更する */
    cursor:pointer;
}

.profile .password img:hover{
    /* カーソルが置かれたときにグレーにする */
    background-color:lightgray;
}

/* パスワードテキストボックスのCSS */
.profile .password input{
    border-color:#F2F2F2;
    /* 下線以外は消す */
    border-top:none;
    border-left:none;
    border-right:none;
    /* クリック時の枠線を消す */
    outline:none;
}

/* ボタン群のCSS */
.profile .profile_button{
    /* 中央寄せにする */
    text-align:center;
    /* 配置の設定 */
    margin-top:6%;
    margin-bottom:10%;
    /* 横並びにする */
    display:flex;
    justify-content:space-around;
}

/* ボタンのCSS */
.profile .profile_button button{
    font-size:26px;
    /* 最小幅を設定する */
    min-width:250px;
}
