/* 共通 */
.profile{
    font-size:24px;
}

/* ユーザーアイコンのCSS */
.profile .user_icon{
    /* 円形にする */
    width:300px;
    height:300px;
    border-radius:50%;
    background:skyblue;
    /* 中央寄せにする */
    margin-left:40%;
    margin-top:3%;
}

/* ユーザーアイコンの画像のCSS */
.profile .user_icon img{
    /* 円形にする */
    width:150px;
    height:150px;
    border-radius:50%;
}

/* ユーザー名のCSS */
.profile .user_name{
    /* 配置の設定 */
    margin-left:40%;
    margin-top:3%;
}

/* ユーザー名テキストボックスのCSS */
.profile .user_name input{
    border-color:#F2F2F2;
    /* 下線以外は消す */
    border-top:none;
    border-left:none;
    border-right:none;
    /* クリック時の枠線を消す */
    outline:none;
}

/* パスワードのCSS */
.profile .password{
    /* 配置の設定 */
    margin-left:40%;
    margin-top:3%;
}

/* パスワードテキストボックスのCSS */
.profile .password input{
    border-color:#F2F2F2;
    /* 下線以外は消す */
    border-top:none;
    border-left:none;
    border-right:none;
    /* クリック時の枠線を消す */
    outline:none;
}

/* ボタンのCSS */
.profile button{
    font-size:26px;
    /* 配置の設定 */
    margin-left:27%;
    margin-top:5%;
}
