/*
 * 制作者：bot810
 * 制作日：2021/05/29
 * 更新日：2021/12/11
 * カスタマイズ画面用css
 */



/* Lightbox2の諸々をカスタマイズ */
#lightbox .lb-container {
    padding: 3px;
}

/* 横並びにするためにflexboxを使用 */

#customize_flex{
    display: flex;
}

#customize_flex #preview{
    width: 75%;
}

#customize_flex #menu{
    width: 25%;
    margin-left: 1.5%;
}


.topMenu{
    display: flex;
    /* 子要素(フレックスアイテム)を一行に並べるか、複数行に並べるかを指定するプロパティ */
    flex-wrap: wrap; /* フレックスアイテムが一行に収まらない時に複数行にする(幅指定ができるように) */
}

.topMenu .thumbnail{
    background-color: darkgreen;
    /* flex-basisはwidthのように幅を指定するプロパティ。widthよりflex-basisが優先。初期値はauto。 */
    flex-basis: 20%;
}
.topMenu .thumbnail img{
    width: 100%;
}

.customizeMenu{
    background-color: lightgoldenrodyellow;
    flex-basis: 80%;
    /* height: 100px; */
}

#preset{
    /* display: flex; */
    flex-wrap: wrap;
}

#preset .thumbnail{
    background-color: darkmagenta;
    width: 100%;
    margin: 2.5%;
}
#preset .thumbnail img{
    width: 100%;
}

#panel{
    flex-wrap: wrap;
}

#contents{
    flex-wrap: wrap;
}


/* profile.cssからパク */
/* ボタン群のCSS */
.customize_button{
    /* 中央寄せにする */
    text-align:center;
    /* 配置の設定 */
    margin-top:6%;
    margin-bottom:10%;
    /* 横並びにする */
    display:flex;
    /* 右寄せ */
    justify-content:flex-end;
    /* 隙間 */
    gap: 5%;
}

/* ボタンのCSS */
.customize_button button{
    font-size:26px;
    /* 最小幅を設定する */
    min-width:250px;
}
