/*
 * 制作者：bot810
 * 制作日：2021/05/29
 * 更新日：2022/02/02
 * カスタマイズ画面用css
 */



/* Lightbox2の諸々をカスタマイズ */
#lightbox .lb-container {
    padding: 3px;
}

/* 横並びにするためにflexboxを使用 */
#customize_flex{
    display: flex;
}

#customize_flex #preview{
    width: 60%;
}

#customize_flex #menu{
    width: 40%;
    margin-left: 1.5%;
    /* display: block; */
}

/* タブメニュー用のCSS */
#customize_flex #menu ul{
	display: block;
	/* float: left; */
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	width: 100%;
    height: auto;
	border-radius: 5px 5px 0 0;
	background: #555;
}

#customize_flex #menu li{
	border-bottom: 1px solid #000;
	margin-bottom: 1px;
	text-align: center;
	padding: 0px;
    width: calc(100%/3);
    height: 100%;

    /* リストを横並びに */
    float: left;
}
/*
#customize_flex #menu li:last-child{
	margin-bottom: 0px;
	border-bottom: 0px;
}
 */
#customize_flex #menu li a{
	display: block;
	font-size: 14pt;
	color: #000;
	text-decoration: none;
	padding: 7%;
    height: 100%;
	background: #eee;
	/* background: -webkit-linear-gradient(top,#444,#333); */
	/* background: -moz-linear-gradient(top,#444,#333); */

	/* 縦書き */
	/* writing-mode: vertical-rl; */
	/* text-orientation: sideways; */
	/* padding: 20%; */
}
#customize_flex #menu li a.selected{
	background: #000;
	color: #eee;
}
#customize_flex #menu div{
    /* display: block; */
	/* float: left; */
	background: #eee;
    background-color: #eee;
    /* width: 100%; */
    min-height: 80%;
    height: fit-content;
}

/* 各メニューのCSS */
/* パネル */
#panel{
    flex-wrap: wrap;
}
#panel .thumbnail{
    display: flex;
    background-color:limegreen;
    width: 40%;
    height: auto;
    margin: 2.5%;
}
#panel .thumbnail .panel_label{
    width: 200px;
    margin: 0 10% 0 0;
}
#panel .thumbnail img{
    /* 画像は初期値でドラッグ可能 */
    width: 100%;
}

/* コンテンツ */
#contents{
    flex-wrap: wrap;
}

/* プリセット */
#preset{
    /* display: flex; */
    flex-wrap: wrap;
}

#preset .thumbnail{
    display: block;
    background-color: darkmagenta;
    width: 50%;
    height: auto;
    margin: 2.5%;
}

#preset .thumbnail img{
    width: 50%;
    height: 50%;
}



/* profile.cssからパク */
/* ボタン群のCSS */
.customize_button{
    /* 中央寄せにする */
    text-align:center;
    /* 配置の設定 */
    margin-top:6%;
    margin-bottom:10%;
    /* 横並びにする */
    display:flex;
    /* 右寄せ */
    justify-content:flex-end;
    /* 隙間 */
    gap: 5%;
}

/* ボタンのCSS */
.customize_button button{
    font-size:26px;
    /* 最小幅を設定する */
    min-width:250px;
}
