/* ユーザーアイコンクラスのCSS */
.user_icon{
    /* 円形にする */
    width:65px;
    height:65px;
    border-radius:50%;
    background:skyblue;
    /* 配置時に上下の幅を持たせる */
    margin-top:5%;
    margin-bottom:5%
}

/* ユーザーアイコンクラスの画像のCSS */
.user_icon img{
    /* 円形にする(親のオブジェクトが円形のため100%でよい) */
    width:100%;
    height:100%;
    border-radius:50%;
}

/* ユーザーアイコンクリック時のリスト */
#user_icon_list ul{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    right:110%;
    /* パネルよりも前面に表示させるため */
    z-index:10;
}

/* ユーザーアイコンクリック時のリスト */
#user_icon_list li{
    display:inline;
    padding:0;
    margin:0;
}

/* ユーザーアイコンクリック時のリストのアイテム */
#user_icon_list li item{
    /* 要素1つ1つはブロックボックス */
    display:block;
    border-top:1px solid #C0C0C0;
    border-left:1px solid #C0C0C0;
    border-right:1px solid #C0C0C0;
    background-color:#EEEEEE;
    padding:3px 15px;
    width:150px;
    margin:0px;
    text-align:left;
    font-size:14px;
}

/* ユーザーアイコンクリック時のリストのアイテム(選択時) */
#user_icon_list li item:hover{
    /* 普通の矢印にする */
    cursor:default;
    background-color:#A9A9A9;
}

/* ユーザーアイコンクリック時のリスト(aタグ) */
#user_icon_list li a{
    /* テキスト色はグレー */
    color:#303030;
    /* テキストは装飾なし */
    text-decoration:none;
}
